@using Sqlzor.Api;

@inject IConnectionStringService _connectionStringService;

@if (connectionNames != null)
{
    <select class="form-control" value="@ConnectionName" @onchange="OnConnectionNameChanged">
        <option disabled selected value=""> -- Select a Connection -- </option>
        @foreach (var connectionName in connectionNames.OrderBy(item => item))
        {
            <option value="@connectionName">@connectionName</option>
        }
    </select>
}

@code
{
    [Parameter]
    public string ConnectionName { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ConnectionNameChanged { get; set; }

    private string[] connectionNames;

    protected override async Task OnInitializedAsync()
    {
        connectionNames = await _connectionStringService.GetConnectionNames();
    }

    private async Task OnConnectionNameChanged(ChangeEventArgs e)
    {
        await ConnectionNameChanged.InvokeAsync(e.Value as string);
    }
}
