@using System.Data

@if (Table != null)
{
    <div class="row border bg-dark text-light mt-2 mb-2">
        <div class="col">
            <a href="#" class="text-light" @onclick="HandleToggleCollapse" style="font-size: x-large;" @onclick:preventDefault>
                <span class=@(isCollapsed ? "fas fa-chevron-right" : "fas fa-chevron-down") aria-hidden="true"></span>
                @(Table.TableName ?? "(Unnamed Table)")
            </a>
        </div>
        <div class="col text-right pt-2">
            @Table.Rows.Count rows
        </div>
    </div>

    @if (!isCollapsed)
    {
        <div class="table-scroll-container">
            <table class="table table-sm table-light table-striped" style="font-size: x-small">
                <thead>
                    <tr class="table-primary">
                        @foreach (var column in Table.Columns.Cast<DataColumn>())
                        {
                            <th>@column.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Table.Rows.Cast<DataRow>())
                    {
                        <tr>
                            @foreach (var item in row.ItemArray)
                            {
                                <td>@item</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code
{
    private string accordionItemId = "accordionItem-" + Guid.NewGuid().ToString();
    private bool isInitiallyCollapsed = false;
    private bool isCollapsed = false;

    [Parameter]
    public DataTable Table { get; set; } = null;

    [Parameter]
    public bool IsCollapsible { get; set; } = false;

    [Parameter]
    public bool IsInitiallyCollapsed
    {
        get
        {
            return isInitiallyCollapsed;
        }

        set
        {
            isCollapsed = value;
            isInitiallyCollapsed = value;
        }
    }

    private void HandleToggleCollapse()
    {
        if (IsCollapsible)
        {
            isCollapsed = !isCollapsed;
        }
    }
}
