@using System.Data

@if (Table != null)
{
    <h4 @onclick="HandleClick">
        <span class=@(isCollapsed ? "oi oi-chevron-right" : "oi oi-chevron-bottom") aria-hidden="true"></span> @(Table.TableName ?? "(Unnamed Table)")
    </h4>

    @if (!isCollapsed)
    {
        <table class="table table-sm table-light table-striped" style="font-size: x-small">
            <thead>
                <tr>
                    @foreach (var column in Table.Columns.Cast<DataColumn>())
                    {
                        <th>@column.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Table.Rows.Cast<DataRow>())
                {
                    <tr>
                        @foreach (var item in row.ItemArray)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code
{
    private string accordionItemId = "accordionItem-" + Guid.NewGuid().ToString();
    private bool isCollapsed = false;

    [Parameter]
    public DataTable Table { get; set; } = null;

    private void HandleClick()
    {
        isCollapsed = !isCollapsed;
        Console.WriteLine("isCollapsed is now ", isCollapsed);
    }
}
