@using Sqlzor.Api;

@inject ISessionService _sessionService;
  
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sqlzor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var session in _sessionService.GetSessions())
        {
            var href = $"session/{session.SessionId}";

            <li class="nav-item px-3" title="@session.SessionName">
                <NavLink class="nav-link" href="@href">
                    <span class="fas fa-database" aria-hidden="true"></span> &nbsp; @session.SessionName
                </NavLink>
            </li>
        }

        <li class="nav-item px-3" title="New Connection">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-plus" aria-hidden="true"></span> &nbsp; New Connection
            </NavLink>
        </li>

        <li class="nav-item px-3" title="Schema">
            <NavLink class="nav-link" href="schema">
                <span class="fas fa-book" aria-hidden="true"></span> &nbsp; Schema
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
