<connectionStrings>
    <!-- mysql / mariadb -->
    <add name="MySql DOCKER Chinook" connectionString="server=localhost; port=3307; userid=root; pwd=MyPassword!; Database=Chinook; Ssl Mode=None;" providerName="MySql.Data.MySqlClient" />
    <add name="MySql DOCKER Northwind" connectionString="server=localhost; port=3308; userid=root; pwd=MyPassword!; Ssl Mode=None; database=northwind;" providerName="MySql.Data.MySqlClient" />
    <add name="MySql REMOTE Rfam @ asiadb.ensembl.org" connectionString="server=mysql-rfam-public.ebi.ac.uk; port=4497; userid=rfamro; database=Rfam" providerName="MySql.Data.MySqlClient" />

    <!-- postgres -->
    <add name="Postgres DOCKER Chinook"  connectionString="Host=localhost; Port=5433; Database=chinook; Username=postgres; Password=chinook" providerName="Npgsql" />
    <add name="Postgres REMOTE pfmegrnargs"  connectionString="Host=hh-pgsql-public.ebi.ac.uk; Port=5432; Database=pfmegrnargs; Username=reader; Password=NWDMCE5xdipIjRrp" providerName="Npgsql" />

    <!-- sqlite: data sources are relative to Sqlzor project directory -->
    <add name="SQLite LOCAL Memory" connectionString="Data Source=:memory:" providerName="System.Data.SQLite" />
    <add name="SQLite LOCAL AdventureWorks" connectionString="DataSource=..\ExampleDatabases\AdventureWorks.sqlite" providerName="System.Data.SQLite" />
    <add name="SQLite LOCAL Chinook" connectionString="DataSource=..\ExampleDatabases\Chinook.sqlite" providerName="System.Data.SQLite" />
    <add name="SQLite LOCAL Northwind" connectionString="DataSource=..\ExampleDatabases\Northwind.sqlite" providerName="System.Data.SQLite" />
    
    <!-- sqlserver -->
    <add name="SqlServer DOCKER AdventureWorks" connectionString="Server=localhost, 1434; User Id=sa; Password=MyPassword!; Database=AdventureWorks" providerName="System.Data.SqlClient" />
</connectionStrings>