@page "/"

@using Sqlzor.Api;

@inject NavigationManager _navigationManager;
@inject ISessionService _sessionService;

<div class="top-row px-4">
    <h3>New Connection</h3>
</div>
<div class="content px-4">
    <div class="form-group">
        <ConnectionNameSelect @bind-ConnectionName="@connectionName" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary"
                disabled="@(isBusy || string.IsNullOrWhiteSpace(connectionName))"
                @onclick="HandleConnect">
            <span class="fas fa-plus"></span> Connect
        </button>
    </div>
</div>

@code {
    private string connectionName = string.Empty;
    private bool isBusy = false;
    private Exception error = null;

    private async Task HandleConnect()
    {
        try
        {
            isBusy = true;
            var session = await _sessionService.OpenSession(connectionName);
            NavigateTo($"session/{session.SessionId}");
        }
        catch (Exception thrown)
        {
            error = thrown;
        }
        finally
        {
            isBusy = false;
        }
    }

    private void NavigateTo(string uri)
    {
        _navigationManager.NavigateTo(uri, true);
    }
}